* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* GENERICS------------- */
.container {
    width: 70%;
    margin: auto;
}

/* HEADER-------------------------------- */
#title {
    color: palevioletred;
    font-weight: 900;
    font-size: 2.5rem;
}

#title, p {
    text-align: center;
    padding: 20px 0;
}

/* MAIN--------------------------------- */
.row::after {
    content: "";
    display: table;
    clear: both;
}

.card::after {
    content: "";
    display: table;
    clear: both;
}

div > a {
    text-decoration: none;
    color: cornflowerblue;
}

.info div:first-child{
    font-weight: bolder;
}

.card {
    float: left;
    height: 100px;
    width: calc(100% / 3 - 40px);
    margin: 20px;
    background-color: black;
}

.photo, img {
    height: 100%;
}

.photo {
    float: left;
}

.info {
    color: white;
    float: left;
    line-height: 1.5rem;
    padding: 10px;
}